<DOCTYPE html>
<html>
<head>
    <title>Twitter Ticker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="lab5.css">
     <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div ng-app="">
    <form id="form1" name="btn_form" method="post" action="getNum" novalidate>
        Number of Tweets to Retrieve (1+): 
        <input type="number" name="numTweets" ng-model="btn.num" min="1" required/>
        <span class="error" ng-show="btn_form.numTweets.$error.required">
    required!</span>
  <span class="error2" ng-show="btn_form.numTweets.$error.number">
    valid number</span>
        <button ng-disabled="!btn_form.$valid" onclick="document.location.href='ticker.html';" >Get Tweets</button>
    </form>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>

