.jumbotron{
    text-align: center;
    background-color: rgb(160,160,160,.5);
}
#add_info{
    margin: auto;
}
img{
    opacity: .7;
    width: 3em;
    margin: auto;
}
#map {
    height:50em;
    overflow: hidden;
    margin-top: -2em;
    position: relative;
}
#dropdowns{
    position: absolute; 
    z-index: 99; 
    background: white;
    left: 36%;
    padding: .3em;
     overflow: auto;
}
#wrapper { 
    position: relative; 
}